In [43]:
# Import dependencies 

import pandas as pd 
import numpy as np

In [44]:
# Load dataset into notebook 

data = pd.read_csv("../compensation.csv")

In [45]:
# Preview dataframe 

data.head()

,ISIN,Ticker,Company Name,Sector,CEO Pay Ratio (Source 1),CEO Pay Ratio (Source 2),CEO Pay Ratio (Source 3),Median Employee Pay
0,AN8068571086,SLB,Schlumberger NV,Energy,313.0,NaN,58.4,NaN
1,AT0000641352,CAI,CA Immobilien Anlagen AG,Real Estate,19.8,NaN,NaN,NaN
2,AT0000652011,EBS,Erste Group Bank AG,Financials,36.0,36.0,NaN,"$104,315"
3,AT0000746409,VER,Verbund AG,Utilities,60.0,60.0,NaN,"$113,700"
4,AT0000785555,SEM,Semperit AG Holding,Industrials,179.8,180.0,NaN,"$42,730"

In [46]:
# See the number of rows and columns

data.shape

(3145, 8)

In [47]:
# Check data types

data.dtypes

ISIN                         object
Ticker                       object
Company Name                 object
Sector                       object
CEO Pay Ratio (Source 1)    float64
CEO Pay Ratio (Source 2)    float64
CEO Pay Ratio (Source 3)    float64
Median Employee Pay          object
dtype: object

In [49]:
# Median Employee Pay column had uneccessary 
# white space and the white space was removed from the column via the csv.

In [62]:
# Remove rows in which Nan values exist for the following columns

updated_data = data.dropna(axis= 0, subset = ['ISIN'])

In [63]:
# View the updated data to see difference in row count. 

updated_data

,ISIN,Ticker,Company Name,Sector,CEO Pay Ratio (Source 1),CEO Pay Ratio (Source 2),CEO Pay Ratio (Source 3),Median Employee Pay
0,AN8068571086,SLB,Schlumberger NV,Energy,313.0,NaN,58.4,NaN
1,AT0000641352,CAI,CA Immobilien Anlagen AG,Real Estate,19.8,NaN,NaN,NaN
2,AT0000652011,EBS,Erste Group Bank AG,Financials,36.0,36.0,NaN,"$104,315"
3,AT0000746409,VER,Verbund AG,Utilities,60.0,60.0,NaN,"$113,700"
4,AT0000785555,SEM,Semperit AG Holding,Industrials,179.8,180.0,NaN,"$42,730"
...,...,...,...,...,...,...,...,...
3140,US5168061068,LPI,NaN,Energy,51.0,NaN,43.1,NaN
3141,US6984771062,PHX,NaN,Energy,NaN,NaN,11.1,NaN
3142,IT0005252207,NaN,NaN,Consumer Staples,NaN,245.0,NaN,"$65,497"
3143,KYG211821031,NaN,NaN,unknown,NaN,245.0,NaN,"$65,497"
3144,CA70137T1057,NaN,NaN,unknown,NaN,245.0,NaN,"$65,497"

In [57]:
# As seen, the row values have not changed based on the dropna function for the ISIN column
# this means that each row has a distinct ISIN value.

In [64]:
# Grab an average of the three ceo pay ratio columns. the mean function disregards values of NaN.

updated_data['Average CEO Pay Ratio'] = updated_data[['CEO Pay Ratio (Source 1)', 'CEO Pay Ratio (Source 2)', 'CEO Pay Ratio (Source 3)']].mean(axis=1)

In [65]:
# View updated Table

updated_data

,ISIN,Ticker,Company Name,Sector,CEO Pay Ratio (Source 1),CEO Pay Ratio (Source 2),CEO Pay Ratio (Source 3),Median Employee Pay,Average CEO Pay Ratio
0,AN8068571086,SLB,Schlumberger NV,Energy,313.0,NaN,58.4,NaN,185.70
1,AT0000641352,CAI,CA Immobilien Anlagen AG,Real Estate,19.8,NaN,NaN,NaN,19.80
2,AT0000652011,EBS,Erste Group Bank AG,Financials,36.0,36.0,NaN,"$104,315",36.00
3,AT0000746409,VER,Verbund AG,Utilities,60.0,60.0,NaN,"$113,700",60.00
4,AT0000785555,SEM,Semperit AG Holding,Industrials,179.8,180.0,NaN,"$42,730",179.90
...,...,...,...,...,...,...,...,...,...
3140,US5168061068,LPI,NaN,Energy,51.0,NaN,43.1,NaN,47.05
3141,US6984771062,PHX,NaN,Energy,NaN,NaN,11.1,NaN,11.10
3142,IT0005252207,NaN,NaN,Consumer Staples,NaN,245.0,NaN,"$65,497",245.00
3143,KYG211821031,NaN,NaN,unknown,NaN,245.0,NaN,"$65,497",245.00
3144,CA70137T1057,NaN,NaN,unknown,NaN,245.0,NaN,"$65,497",245.00

In [72]:
# View the counts of different Sectors 

updated_data['Sector'].value_counts()

Financials                561
Health Care               538
Industrials               438
Information Technology    380
Consumer Discretionary    357
Real Estate               203
Energy                    156
Materials                 156
Communication Services    139
Consumer Staples          127
Utilities                  83
unknown                     7
Name: Sector, dtype: int64

In [80]:
# Unknown only has 7 values so drop those entries 

index_names = updated_data[updated_data['Sector'] == 'unknown' ].index

In [83]:
# Drop rows from index names dataframe

updated_data.drop(index_names, inplace=True)

In [84]:
# View the value counts to see if Sectors defined as 'unknown' were dropped

updated_data['Sector'].value_counts()

Financials                561
Health Care               538
Industrials               438
Information Technology    380
Consumer Discretionary    357
Real Estate               203
Energy                    156
Materials                 156
Communication Services    139
Consumer Staples          127
Utilities                  83
Name: Sector, dtype: int64

In [73]:
# View value counts of Median Employee Pay

updated_data['Median Employee Pay'].value_counts()

$70,000      5
$65,497      5
$104,061     4
$93,750      4
$82,043      3
            ..
$47,395      1
$198,576     1
$24,439      1
$96,867      1
$42,590      1
Name: Median Employee Pay, Length: 1961, dtype: int64

In [86]:
# drop any NaN values from the Median Employee Pay

median_salary = updated_data.dropna(axis= 0, subset = ['Median Employee Pay'])

In [87]:
# View the row difference after dropping NaN from Median Employee Pay

median_salary.shape

(2208, 9)

In [88]:
# A little over 1000 rows were dropped after removing NaN from Median Employee Pay which is far too high

updated_data.shape

(3138, 9)

In [89]:
# In order to maintain data integrity and a sufficient number of columns, I believe it is best to include null
# values for specific columns such as median employee pay. The reason for this is, the dataset may not have the 
# median employee pay but they do have the CEO ratio which can be used for exploratory analysis.

In [92]:
updated_data['Median Employee Pay'].describe()

count         2208
unique        1961
top       $70,000
freq             5
Name: Median Employee Pay, dtype: object

In [93]:
updated_data.to_csv('../updated_compensation.csv')